@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  /* Fundo escurecido quando o modal estiver aberto */
  dialog[open] {
    display: block;
  }

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #080a27;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0a0b21;
}


.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.popup-container.active {
    display: block; /* Mostra o popup quando a classe 'active' é adicionada */
}


.popup-box {
    width: 350px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}


.popup-container.active .popup-box {
    transform: scale(1);
}


.popup-page {
    display: none;
}


.popup-img {
    width: 80%;
    max-width: 250px;
    margin: 10px auto;
    display: block;
}


.popup-box button {
    width: 40px;
    height: 40px;
    background-color: #03040c;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
}

.popup-box button:hover {
    background-color: #0a0c21;
}


.popup-box .close-btn {
    width: 100%;
    height: 40px;
    background-color: #ff4d4d;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
}

.popup-box .close-btn:hover {
    background-color: #cc0000;
}
